
{% extends 'shoppy/layout.html' %}

{% block content %}
{#product detail#}
    <div class="col-md-12">
        <div class="row py-5 d-flex justify-content-center">
            <div class="col-md-1 product-container product-container-custom p-0 ">
               <div class="imagescrollwrapper  ">
                   <div class="imagescrollimg">
                       <img src="../../../shoppy/media/productimages/product1.jpg" alt="">
                   </div>
                   <div class="imagescrollimg">
                       <img src="../../../shoppy/media/productimages/product1.jpg" alt="">
                   </div>
                   <div class="imagescrollimg">
                       <img src="../../../shoppy/media/productimages/product1.jpg" alt="">
                   </div>
                   <div class="imagescrollimg">
                       <img src="../../../shoppy/media/productimages/product1.jpg" alt="">
                   </div>
                   <div class="imagescrollimg">
                       <img src="../../../shoppy/media/productimages/product1.jpg" alt="">
                   </div>
                   <div class="imagescrollimg">
                       <img src="../../../shoppy/media/productimages/product1.jpg" alt="">
                   </div>
                   <div class="imagescrollimg">
                       <img src="../../../shoppy/media/productimages/product1.jpg" alt="">
                   </div>
                   <div class="imagescrollimg">
                       <img src="../../../shoppy/media/productimages/product1.jpg" alt="">
                   </div>
               </div> 
            </div>
            <div class="col-md-3 product-container p-0">
                <div class="imageshowcase">
                    <img src="../../../shoppy/media/productimages/product1.jpg" alt="">
                </div>
            </div>
            <div class="col-md-4 product-container">
                <div class=" col-sm-12 productname">
                    <div class="row p-2">
                        <h2 class="productTitle lead">Infinix Hot S4, 6.2", 32GB + 3GB(Dual SIM), Blue</h2>
                    </div>
                    <div class="row d-flex justify-content-between p-2" >
                        <span class="seller-name">By <a href="#">Infinix</a></span>
                        <span class="saveproducticon"><i class="far fa-heart"></i></span>
                    </div>
                    <div class="row">
                        <div class="d-flex justify-content-between col-sm-12">
                            <h4 class="subtitles">Key Features</h4>
                            <a class="" href="#">See all details</a>
                        </div>
                        <div class="col-sm-12">
                            <ul class="product-details">
                               <li>Display: 6.26-inch LCD capacitive</li>
                               <li>OS: Android 9.0 Pie</li>
                               <li>CPU: Quad-core 1.4 GHz, MediaTek Helio P22</li>
                               <li>Memory: 3GB RAM and 32GB built-in storage</li>
                               <li>13MP + 8MP + 2MP rear camera</li>
                               <li>32MP selfie camera.</li>
                            </ul>
                        </div>

                    </div>
                    <div class="row d-flex justify-content-between px-4 align-items-end pt-6">
                        <div class="product-price d-flex flex-column ">
                            <span class="normal-price">Ksh <span>17,000</span></span>
                            <span class="striked-price justify-content-end">Ksh <span>32,000</span></span>
                        </div>
                        <div class="buynowbtn">
                            <a href="" class="product-button  ">BuyNow</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 product-container">
                <div class=" col-sm-12 sellerdetails">
                    <div class="row d-flex justify-content-center flex-column text-center pt-3">
                        <h4>Sold By</h4>
                        <h3>KENYA ELECTRONICS</h3>
                        <div class="col-sm-12 seller-logo">
                            <img src="../../../shoppy/media/sitelogo/sellerlogo.png" alt="">
                        </div>
                    </div>
                    <div class="divider-custom"></div>
                    <div class="row d-flex flex-column justify-content-center py-6">
                        <h4 class="text-center">Delivery</h4>
                        <p class="text-right">Delivery <a href="#">Details</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{#end of productdetails    #}
{# collapsible   #}
    <div class="col-md-12">
        <div class="row  py-6">
           <div class="bs-example">
                <div class="accordion accordion-custom" id="accordionExample">
                    <div class="card">
                        <div class="card-header accordion-card-heading" id="headingOne">
                            <h2 class="mb-0">
                                <button type="button" class="btn btn-link accordion-header-text" data-toggle="collapse" data-target="#collapseOne"><i class="fa fa-plus"></i> Features</button>
                            </h2>
                        </div>
                        <div id="collapseOne" class="collapse show rounded" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body  accordion-card-body">
                                <div class="product-features-container p-4">
                                    <div class="col-sm-12 row">
                                        <p class="product-features-text">Infinix Hot S4 features a massive 6.26-inch 720p IPS LCD display with a 19:9 aspect
                                            ratio giving the phone a slim and narrow shape. Infinix S4 is powered by Mediatek’s
                                            Helio P22 SoC, coupled with Cortex-A53 processors with maximum clock speed of 2.2GHz CPU.
                                            It run on the Google’s latest Android 9.0 Pie operating system and supported by Infinix’s
                                            native XOS (v4.0 HoneyBee). Infinix S4 comes with a premium glass finish, three cameras at
                                            the back (13MP+8MP+2MP) and a 32MP selfie shooter. Infinix S4 is powered by a non- removable
                                            4000 Li-ion Battery coupled with a fast charging support. Order for this Infinix Hot S4 online
                                            from Jumia Kenya and have it delivered to you.</p>
                                    </div>
                                    <div class="col-sm-12 row py-4">
                                        <div class="col-md-6 row">
                                             <ul class="product-details product-details-custom">
                                               <li>Display: 6.26-inch LCD capacitive</li>
                                               <li>OS: Android 9.0 Pie</li>
                                               <li>CPU: Quad-core 1.4 GHz, MediaTek Helio P22</li>
                                               <li>Memory: 3GB RAM and 32GB built-in storage</li>
                                               <li>13MP + 8MP + 2MP rear camera</li>
                                               <li>32MP selfie camera.</li>
                                               <li>Display: 6.26-inch LCD capacitive</li>
                                               <li>OS: Android 9.0 Pie</li>
                                               <li>CPU: Quad-core 1.4 GHz, MediaTek Helio P22</li>
                                               <li>Memory: 3GB RAM and 32GB built-in storage</li>
                                               <li>13MP + 8MP + 2MP rear camera</li>
                                               <li>32MP selfie camera.</li>
                                               <li>Display: 6.26-inch LCD capacitive</li>
                                               <li>OS: Android 9.0 Pie</li>
                                               <li>CPU: Quad-core 1.4 GHz, MediaTek Helio P22</li>
                                               <li>Memory: 3GB RAM and 32GB built-in storage</li>
                                               <li>13MP + 8MP + 2MP rear camera</li>
                                               <li>32MP selfie camera.</li>
                                               <li>Display: 6.26-inch LCD capacitive</li>
                                               <li>OS: Android 9.0 Pie</li>
                                               <li>CPU: Quad-core 1.4 GHz, MediaTek Helio P22</li>
                                               <li>Memory: 3GB RAM and 32GB built-in storage</li>
                                               <li>13MP + 8MP + 2MP rear camera</li>
                                               <li>32MP selfie camera.</li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6 row d-flex flex-column justify-content-center">
                                            <div class="product-pics">
                                                <img src="../../../shoppy/media/productimages/product1.jpg" alt="">
                                            </div>

                                            <div class="product-pics">
                                                <img src="../../../shoppy/media/productimages/Infinix-hot-s4.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header accordion-card-heading" id="headingTwo">
                            <h2 class="mb-0">
                                <button type="button" class="btn btn-link collapsed  accordion-header-text" data-toggle="collapse" data-target="#collapseTwo"><i class="fa fa-plus"></i> Reviews</button>
                            </h2>
                        </div>
                        <div id="collapseTwo" class="collapse " aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body accordion-card-body">
                                <p>Bootstrap is a sleek, intuitive, and powerful front-end framework for faster and easier web development. It is a collection of CSS and HTML conventions. <a href="https://www.tutorialrepublic.com/twitter-bootstrap-tutorial/" target="_blank">Learn more.</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header accordion-card-heading" id="headingThree">
                            <h2 class="mb-0">
                                <button type="button" class="btn btn-link collapsed accordion-header-text" data-toggle="collapse" data-target="#collapseThree"><i class="fa fa-plus"></i> Other Sellers</button>
                            </h2>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <div class="card-body accordion-card-body">
                                <p>CSS stands for Cascading Style Sheet. CSS allows you to specify various style properties for a given HTML element such as colors, backgrounds, fonts etc. <a href="https://www.tutorialrepublic.com/css-tutorial/" target="_blank">Learn more.</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{#end of colapsible#}























{% endblock %}