
{% extends 'shoppy/layout.html' %}

{% block content %}
{#product detail#}
    <div class="col-md-12">
        <div class="row py-5 d-flex justify-content-center">
            <div class="col-md-1 product-container product-container-custom p-0 ">
               <div class="imagescrollwrapper  ">
                   <div class="imagescrollimg">
                       <img src="../../../shoppy/media/productimages/product1.jpg" alt="">
                   </div>
                   <div class="imagescrollimg">
                       <img src="../../../shoppy/media/productimages/product1.jpg" alt="">
                   </div>
                   <div class="imagescrollimg">
                       <img src="../../../shoppy/media/productimages/product1.jpg" alt="">
                   </div>
                   <div class="imagescrollimg">
                       <img src="../../../shoppy/media/productimages/product1.jpg" alt="">
                   </div>
                   <div class="imagescrollimg">
                       <img src="../../../shoppy/media/productimages/product1.jpg" alt="">
                   </div>
                   <div class="imagescrollimg">
                       <img src="../../../shoppy/media/productimages/product1.jpg" alt="">
                   </div>
                   <div class="imagescrollimg">
                       <img src="../../../shoppy/media/productimages/product1.jpg" alt="">
                   </div>
                   <div class="imagescrollimg">
                       <img src="../../../shoppy/media/productimages/product1.jpg" alt="">
                   </div>
               </div> 
            </div>
            <div class="col-md-3 product-container p-0">
                <div class="imageshowcase">
                    <img src="../../../shoppy/media/productimages/product1.jpg" alt="">
                </div>
            </div>
            <div class="col-md-4 product-container">
                <div class=" col-sm-12 productname">
                    <div class="row p-2">
                        <h2 class="productTitle lead">Infinix Hot S4, 6.2", 32GB + 3GB(Dual SIM), Blue</h2>
                    </div>
                    <div class="row d-flex justify-content-between p-2" >
                        <span class="seller-name">By <a href="#">Infinix</a></span>
                        <span class="saveproducticon" onclick="snackBar()"><i class="far fa-heart"></i></span>
                    </div>
                    <div class="row">
                        <div class="d-flex justify-content-between col-sm-12">
                            <h4 class="subtitles">Key Features</h4>
                            <a class="" href="#">See all details</a>
                        </div>
                        <div class="col-sm-12">
                            <ul class="product-details">
                               <li>Display: 6.26-inch LCD capacitive</li>
                               <li>OS: Android 9.0 Pie</li>
                               <li>CPU: Quad-core 1.4 GHz, MediaTek Helio P22</li>
                               <li>Memory: 3GB RAM and 32GB built-in storage</li>
                               <li>13MP + 8MP + 2MP rear camera</li>
                               <li>32MP selfie camera.</li>
                            </ul>
                        </div>

                    </div>
                    <div class="row d-flex justify-content-between px-4 align-items-end pt-6">
                        <div class="product-price d-flex flex-column ">
                            <span class="normal-price">Ksh <span>17,000</span></span>
                            <span class="striked-price justify-content-end">Ksh <span>32,000</span></span>
                        </div>
                        <div class="buynowbtn">
                            <button class="link product-button"><a href="" class="text-white">BuyNow</a></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 product-container">
                <div class=" col-sm-12 sellerdetails">
                    <div class="row d-flex justify-content-center flex-column text-center pt-3">
                        <h4>Sold By</h4>
                        <h3>KENYA ELECTRONICS</h3>
                        <div class="col-sm-12 seller-logo">
                            <img src="../../../shoppy/media/sitelogo/sellerlogo.png" alt="">
                        </div>
                    </div>
                    <div class="divider-custom"></div>
                    <div class="row d-flex flex-column justify-content-center py-6">
                        <h4 class="text-center">Delivery</h4>
                        <p class="text-right">Delivery <a href="#">Details</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{#end of productdetails    #}
{# collapsible   #}
    <div class="col-md-12">
        <div class="row  py-6">
           <div class="bs-example">
                <div class="accordion accordion-custom" id="accordionExample">
                    <div class="card">
                        <div class="card-header accordion-card-heading" id="headingOne">
                            <h2 class="mb-0">
                                <button type="button" class="btn btn-link accordion-header-text" data-toggle="collapse" data-target="#collapseOne"><i class="fa fa-plus"></i> Features</button>
                            </h2>
                        </div>
                        <div id="collapseOne" class="collapse rounded" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body  accordion-card-body">
                                <div class="product-features-container p-4">
                                    <div class="col-sm-12 row">
                                        <p class="product-features-text">Infinix Hot S4 features a massive 6.26-inch 720p IPS LCD display with a 19:9 aspect
                                            ratio giving the phone a slim and narrow shape. Infinix S4 is powered by Mediatek’s
                                            Helio P22 SoC, coupled with Cortex-A53 processors with maximum clock speed of 2.2GHz CPU.
                                            It run on the Google’s latest Android 9.0 Pie operating system and supported by Infinix’s
                                            native XOS (v4.0 HoneyBee). Infinix S4 comes with a premium glass finish, three cameras at
                                            the back (13MP+8MP+2MP) and a 32MP selfie shooter. Infinix S4 is powered by a non- removable
                                            4000 Li-ion Battery coupled with a fast charging support. Order for this Infinix Hot S4 online
                                            from Jumia Kenya and have it delivered to you.</p>
                                    </div>
                                    <div class="col-sm-12 row py-4">
                                        <div class="col-md-6 row">
                                             <ul class="product-details product-details-custom">
                                               <li>Display: 6.26-inch LCD capacitive</li>
                                               <li>OS: Android 9.0 Pie</li>
                                               <li>CPU: Quad-core 1.4 GHz, MediaTek Helio P22</li>
                                               <li>Memory: 3GB RAM and 32GB built-in storage</li>
                                               <li>13MP + 8MP + 2MP rear camera</li>
                                               <li>32MP selfie camera.</li>
                                               <li>Display: 6.26-inch LCD capacitive</li>
                                               <li>OS: Android 9.0 Pie</li>
                                               <li>CPU: Quad-core 1.4 GHz, MediaTek Helio P22</li>
                                               <li>Memory: 3GB RAM and 32GB built-in storage</li>
                                               <li>13MP + 8MP + 2MP rear camera</li>
                                               <li>32MP selfie camera.</li>
                                               <li>Display: 6.26-inch LCD capacitive</li>
                                               <li>OS: Android 9.0 Pie</li>
                                               <li>CPU: Quad-core 1.4 GHz, MediaTek Helio P22</li>
                                               <li>Memory: 3GB RAM and 32GB built-in storage</li>
                                               <li>13MP + 8MP + 2MP rear camera</li>
                                               <li>32MP selfie camera.</li>
                                               <li>Display: 6.26-inch LCD capacitive</li>
                                               <li>OS: Android 9.0 Pie</li>
                                               <li>CPU: Quad-core 1.4 GHz, MediaTek Helio P22</li>
                                               <li>Memory: 3GB RAM and 32GB built-in storage</li>
                                               <li>13MP + 8MP + 2MP rear camera</li>
                                               <li>32MP selfie camera.</li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6 row d-flex flex-column justify-content-center">
                                            <div class="product-pics">
                                                <img src="../../../shoppy/media/productimages/product1.jpg" alt="">
                                            </div>

                                            <div class="product-pics">
                                                <img src="../../../shoppy/media/productimages/Infinix-hot-s4.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header accordion-card-heading" id="headingTwo">
                            <h2 class="mb-0">
                                <button type="button" class="btn btn-link collapsed  accordion-header-text" data-toggle="collapse" data-target="#collapseTwo"><i class="fa fa-plus"></i> Reviews</button>
                            </h2>
                        </div>
                        <div id="collapseTwo" class="collapse " aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body accordion-card-body">
                                <div class="ratings col-sm-12">
                                    <div class="row">
                                        <div class="col-md-6 border-right border-dark">
                                            <h3 class="ratings-header">Average Ratings</h3>
                                            <div class="star-ratings">
                                                <span class="rating-count-lg"><i class="fas fa-star"></i></span>
                                                <span class="average-ratings">5</span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <h3 class="ratings-header py-3">Have You Used This Product</h3>
                                            <div class="card-ratings-wrapper ">
                                                <span class="rating-count rating-count-md"><i class="far fa-star"></i></span>
                                                <span class="rating-count rating-count-md"><i class="far fa-star"></i></span>
                                                <span class="rating-count rating-count-md"><i class="far fa-star"></i></span>
                                                <span class="rating-count rating-count-md"><i class="far fa-star"></i></span>
                                                <span class="rating-count rating-count-md"><i class="far fa-star"></i></span>
                                            </div>
                                            <div class="comment-form my-3">
                                                <form action="">
                                                    <textarea class="text-area text-area-custom footer-textarea" name="" id="" cols="30" rows="7"></textarea>
                                                    <button class="product-button ">Submit Comment</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row px-3">
                                        <h3 class="ratings-header">All reviews</h3>
                                        <div class="reviews col-sm-12 d-flex py-4">
                                           <div class="col-sm-5 buyer-rating-wrapper">
                                               <h4 class="ratings-user-header">Eugene Were</h4>
                                               <span class="ratings-user-date ">June 30, 2019</span>
                                           </div>
                                           <div class="col-sm-7">
                                               <div class="card-ratings-wrapper">
                                                    <span class="rating-count"><i class="far fa-star"></i></span>
                                                    <span class="rating-count"><i class="far fa-star"></i></span>
                                                    <span class="rating-count"><i class="far fa-star"></i></span>
                                                    <span class="rating-count"><i class="far fa-star"></i></span>
                                                    <span class="rating-count"><i class="far fa-star"></i></span>
                                               </div>
                                               <div class="">
                                                   <p class="comment">The phone has a great camera. Other features are also okay. </p>
                                               </div>
                                           </div>
                                        </div>
                                        <div class="reviews col-sm-12 d-flex py-4">
                                           <div class="col-sm-5 buyer-rating-wrapper">
                                               <h4 class="ratings-user-header">Eugene Were</h4>
                                               <span class="ratings-user-date">June 30, 2019</span>
                                           </div>
                                           <div class="col-sm-7">
                                               <div class="card-ratings-wrapper">
                                                    <span class="rating-count"><i class="far fa-star"></i></span>
                                                    <span class="rating-count"><i class="far fa-star"></i></span>
                                                    <span class="rating-count"><i class="far fa-star"></i></span>
                                                    <span class="rating-count"><i class="far fa-star"></i></span>
                                                    <span class="rating-count"><i class="far fa-star"></i></span>
                                               </div>
                                               <div class="comment">
                                                   <p>The phone has a great camera. Other features are also okay. </p>
                                               </div>
                                           </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header accordion-card-heading" id="headingThree">
                            <h2 class="mb-0">
                                <button type="button" class="btn btn-link collapsed accordion-header-text" data-toggle="collapse" data-target="#collapseThree"><i class="fa fa-plus"></i> Simillar Product</button>
                            </h2>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <div class="card-body accordion-card-body">
                                <div class="sellerproductscontainer">

                                <table id="dtMaterialDesignExample" class="table table-striped" cellspacing="0" width="100%">
                                      <thead>
                                        <tr>
                                          <th class="th-sm">Seller
                                          </th>
                                          <th class="th-sm">Product Name
                                          </th>
                                          <th class="th-sm">Store Name
                                          </th>
                                          <th class="th-sm">Region
                                          </th>
                                          <th class="th-sm">Price
                                          </th>
                                            <th></th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                          <a href="#">
                                              <tr class="py-3">
                                                  <td class="seller-name">Eugene Were</td>
                                                  <td class="seller-product">INFINIX HOT S4, 6.2", 32GB + 3GB(DUAL SIM), BLUE</td>
                                                  <td class="seller-store">KENYA ELECTRONICS</td>
                                                  <td class="seller-region">nairobi</td>
                                                  <td class="seller-price">17,000</td>
                                                  <td class="d-flex justify-content-center align-items-center link"><a href="#" class="product-button text-center">Buy Now</a></td>
                                              </tr>
                                          </a>





                                      </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{#end of colapsible#}























{% endblock %}