{% extends 'shoppy/layout.html' %}
{% load staticfiles %}
{% load call_method %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block content %}
        <div class="content-section">
          {% if errors %}
            <ul class="p-0">
            {% for error in errors %}
                <div class="alert alert-danger" role="alert">
                  {{ error }}
                </div>
            {% endfor %}
            </ul>
          {% endif %}

          {% if messages %}
            <ul class="messages">
              {% for message in messages %}
                  <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}" role="alert">
                      {{ message }}
                  </div>
              {% endfor %}
            </ul>
          {% endif %}

          {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                      <strong class="text-white">{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger text-white">
                  <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
          {% endif %}

            <h2 class="py-4">Enter Your Current Email</h2>
             <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="product-button" type="submit">Submit</button>
             </form>
            <div class=" pt-3">
                <small class="text-muted medium-text">
                    Need an account? <a href="{% url 'Shoppy:shoppy-login' %}" class="ml-2">Sign In</a>
                </small>
            </div>
      </div>
{% endblock %}